.DS_Store
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sublime-project
*.sublime-workspace
.sass-cache
npm-debug.log

pids
logs
lib-cov
tmp
results

bower_components
src
test
node_modules
config

.bowerrc
.coffeelintrc
Gulpfile.coffee
Gulpfile.js
