!!! 5
%html
  %head
    %title Jasmine Spec Runner

    - # Jasmine and Jasmine HTML Reporter
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'vendor/jasmine-1.2.0/jasmine.css' }
    %script{ :type => 'text/javascript', :src => 'vendor/jasmine-1.2.0/jasmine.js' }
    %script{ :type => 'text/javascript', :src => 'vendor/jasmine-1.2.0/jasmine.html.js' }

    - # include our dependency files
    %script{ :type => 'text/javascript', :src => 'vendor/underscore-1.4.2.js' }
    %script{ :type => 'text/javascript', :src => 'vendor/backbone-0.9.2.js' }

    - # include Backbone.StateManager
    %script{ :type => 'text/javascript', :src => 'backbone.statemanager.js' }

    - # include spec files
    %script{ :type => 'text/javascript', :src => 'spec/helper.spec.js' }
    %script{ :type => 'text/javascript', :src => 'spec/backbone.statemanager.spec.js' }
    %script{ :type => 'text/javascript', :src => 'spec/backbone.statemanager.state.spec.js' }
    %script{ :type => 'text/javascript', :src => 'spec/backbone.statemanager.states.spec.js' }

    - # start specs - copied from Jasmine
    :javascript
      (function() {
        var jasmineEnv = jasmine.getEnv();
        jasmineEnv.updateInterval = 1000;

        var htmlReporter = new jasmine.HtmlReporter();

        jasmineEnv.addReporter(htmlReporter);

        jasmineEnv.specFilter = function(spec) {
          return htmlReporter.specFilter(spec);
        };

        var currentWindowOnload = window.onload;

        window.onload = function() {
          if (currentWindowOnload) {
            currentWindowOnload();
          }
          execJasmine();
        };

        function execJasmine() {
          jasmineEnv.execute();
        }

      })();

  %body